@font-face {
    font-family: 'Digital';
    src: url('fonts/digital-7.ttf') format('truetype');
}

html {
    box-sizing: border-box;
    outline: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

main {
    user-select: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#container {
    width: 500px;
}

#screen-wrap {
    border: 2px solid black;
    border-bottom: 0;
    padding: 15px;
    background: #7c6969;
    border-radius: 15px 15px 0px 0px;
}

.screen {
    height: 100%;
    min-height: 90px;
    font-family: 'Digital', sans-serif;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding-right: 20px;
    text-align: right;
    background: #000;
    border-radius: 2px;
    color: white;
    margin-bottom: 20px;
}

.history {
    font-size: 2.5rem;
}

.result,
.history {
    overflow: auto;
    line-height: 1;
}

.buttons {
    display: flex;
    flex: 1;
    background: #7c6969;
    border-radius: 0px 0px 15px 15px;
    border: 2px solid black;
    border-top: 0;
    border-bottom: 5px solid black;
}

.buttons button {
    display: flex;
    flex: 1;
    font-family: 'Digital', sans-serif;
    margin: 14px;
    padding: 10px;
    border-radius: 12px;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 0px 1px #333;
    cursor: pointer;
}

.buttons button:active {
    box-shadow: unset;
    color: #a10808;
}

.buttons button:hover {
    background: lightgrey;
}

.special-buttons {
    display: flex;
    padding: 15px 20px 20px 20px;
    background: #7c6969;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.special-buttons button {
    display: flex;
    flex: 1;
    font-size: 2.4em;
    font-family: 'Digital', sans-serif;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button.delete,
button.clear {
    align-items: baseline;
    box-shadow: 0px 1px 0px 1px #333;
    padding: 14px;
    color: black;
}

button.delete:hover,
button.clear:hover {
    color: white;
    transition: .3s;
}

button.delete:hover {
    background: #d60707;
}

button.clear:hover {
    background: #30cb58;
}

button.delete:active,
button.clear:active {
    box-shadow: unset;
}

button.delete {
    background: #cb3071;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 20px;
}

button.clear {
    border: 2px solid black;
    border-radius: 10px;
    background: #1a9b3b;
}

.dot {
    font-weight: 800;
}

.operators {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.operators button {
    background: navajowhite;
}

.operators button:hover {
    background: #d5b588;
}

.operators button:active {
    color: antiquewhite;
}


.digits {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
}

.digits>div {
    display: flex;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
}

#copyright {
    padding: 40px 0px 20px 0;
    font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
    div#container {
        min-height: 500px;
        margin: auto;
        max-width: 100%;
        padding: 10px;
    }
}